<div id="doc-preview-modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-content">
		  <p class="image">
			<img src="https://i.pinimg.com/originals/ab/99/0e/ab990e5234094ce4826b223a0c6c7f7d.jpg" alt="">
		  </p>
		</div>
		<a href="<%= data.config.publicPath %>/case-document-library/" class="modal-close is-large" aria-label="close"></a>
	  </div>

<% include /jsonLd %>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.22.0/apexcharts.min.js"></script>
	<script defer src="<%= data.config.publicPath %>/js/module-chart.js"></script>
	