<header class="hero is-primary">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is--brand">
          <img
            class="navbar-brand-logo"
            src="<%= data.config.publicPath %>/img/logo-EF.png"
            alt="Brand logo"
          />
				</a>

        <button class="button navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="navbar-menu navbar-end" id="navMenu">
        <a class="navbar-item nav-tag">
          <span class="icon is-small">
            <i class="fas fa-envelope animated"></i>
          </span>
          <span class="tag is-success counter">2</span>
        </a>
        <a class="navbar-item nav-tag">
          <span class="icon is-small">
            <i class="fas fa-bell animated"></i>
          </span>
          <span class="tag is-danger counter">6</span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable is-primary">
          <a class="navbar-link">
            <figure class="image is-32x32" style="margin-right: 0.5em">
              <img src="<%= data.config.publicPath %>/img/MichaelScott.png" />
            </figure>
            Change View Here
          </a>

          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="<%= data.config.publicPath %>/buyerview/" >
              <span class="icon is-small">
                <i class="fas fa-user"></i>
              </span>
              &nbsp; View as Buyer
            </a>
            <hr class="navbar-divider" />
              <a class="navbar-item" href="<%= data.config.publicPath %>/" >
                <span class="icon is-small">
                  <i class="fas fa-user"></i>
                </span>
                &nbsp; View as Mortgage Company
              </a>
              <hr class="navbar-divider" />
            <a class="navbar-item">
              <span class="icon is-small">
                <i class="fa fa-power-off"></i>
              </span>
              &nbsp; Logout
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
