<!DOCTYPE html>
<html lang="en">

<head>
	<% include /metaTags %>
</head>

<body>
	<% include /header %>

		<div class="wrapper">
			<%- include('/sidebar', {activeMenu: 'case' }) %>

				<main class="main" id="main">
					<%- include('/breadcrumb', {menuTitle: '12 Doncaster Drive' , menuIcon: 'fa-home' }) %>
					<div class="tabs">
						<ul>
						  <li class="is-active"><a>Overview</a></li>
						  <li><a href="<%= data.config.publicPath %>/case-contact-details/">Contact Details</a></li>
						  <li><a href="<%= data.config.publicPath %>/case-document-library/">Documents Library</a></li>
						  <li><a>Messages</a></li>
						</ul>
					  </div>
						<table class="table is-fullwidth">
						<tr>
							<td>Buyer: Goldingley Property Ltd.</td>
							<td>Property Type: Semi-Detatched House</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>
						<tr>
							<td>Seller: Mr. T Walker</td>
							<td>Case Manager: Sam Turner</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>
						<tr>
							<td>Offer Accepted: 29/01/2021</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>
						</table>
						<div class="columns is-multiline is-vcentered is-gapless">
							<div class="column">
								<div class="box notification is-success">
									<div class="heading">Offer Accepted</div>
									<div class="title">£68,000</div>

								</div>
							</div>
							<!-- CHEVRON -->
							<div class="column mx-1" style="max-width: fit-content; font-size: xx-large;">
								<div class="level">
									<div class="level-item">
										<span class="icon is-1"><i class="fa fa-chevron-right"></i></span>
									</div>
								</div>
							</div>
							<!-- /CHEVRON -->
							<div class="column">
								<div class="box notification is-warning p-4">
									<div class="heading">Mortgage Application</div>
									<div class="title">In Progress</div>
									<div class="level-left">
										<div class="level-item pb-2">
											<div class="title is-7">Buyer has responded to your request.<br>Please
												confirm 'Proof of ID'</div>
										</div>
									</div>
									<div class="level-left">
										<div class="title is-7 mb-0">
											Proof of Deposit
										</div>
										<span class="icon-text pb-0 pl-2"><i class="fa fa-check"></i></span>
									</div>
									<div class="level-left">
										<div class="title is-7 mb-0">
											Proof of Income
										</div>
										<span class="icon-text pb-0 pl-2"><i class="fa fa-check"></i></span>
									</div>
									<div class="level-left">
										<div class="title is-7 mb-0 pr-2">
											Proof of ID
										</div>
										<span class="tag px-1 is-danger">Action Required</span>
									</div>
								</div>
							</div>
							<!-- CHEVRON -->
							<div class="column mx-1" style="max-width: fit-content; font-size: xx-large;">
								<div class="level">
									<div class="level-item">
										<span class="icon is-1"><i class="fa fa-times"></i></span>
									</div>
								</div>
							</div>
							<!-- /CHEVRON -->
							<div class="column">
								<div class="box notification is-light">
									<div class="heading">Mortgage Approved</div>
									<div class="title is-5">Projected:<br>3 Weeks</div>
								</div>
							</div>
							<!-- CHEVRON -->
							<div class="column mx-1" style="max-width: fit-content; font-size: xx-large;">
								<div class="level">
									<div class="level-item">
										<span class="icon is-1"><i class="fa fa-chevron-right"></i></span>
									</div>
								</div>
							</div>
							<!-- /CHEVRON -->
							<div class="column">
								<div class="box notification is-light">
									<div class="heading">Keys Exchanged</div>
									<div class="title is-5">Projected:<br>4 Weeks</div>

								</div>
							</div>
						</div>

						<!-- RECENT ACTIVITY TABLE -->

						<div class="title is-4 ml-3 mb-3">Recent Activity</div>
						<table class="table is-striped is-hoverable is-fullwidth">
							<thead>
								<tr></tr>
									<th>User</th>
									<th>Action</th>
									<th>Date</th>
									<th>Comments</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
								<tr class="is-success">
									<th>Goldingley Property Ltd.</th>
									<td>Uploaded Proof of ID</td>
									<td>08/02/2021</td>
									<td>Sent you a scan of passport as requested</td>
									<td>
										<button class="button is-primary">
											<span class="icon"><i class="fas fa-external-link-alt"></i></span>
										</button>
									</td>
								</tr>
								<tr>
									<th>Scott Solicitors</th>
									<td>Requested Proof of ID</td>
									<td>06/02/2021</td>
									<td>Hi, could you please upload a scan of your passport</td>
									<td>
										<button class="button is-primary">
											<span class="icon"><i class="fas fa-external-link-alt"></i></span>
										</button>
									</td>
								</tr>
								<tr>
									<th>Scott Solicitors</th>
									<td>Approved Proof of Income</td>
									<td>05/02/2021</td>
									<td></td>
									<td>
										<button class="button is-primary">
											<span class="icon"><i class="fas fa-external-link-alt"></i></span>
										</button>
									</td>
								</tr>
								<tr class="is-success">
									<th>Goldingley Property Ltd.</th>
									<td>Uploaded Proof of Income</td>
									<td>04/02/2021</td>
									<td>Sent you a scan of November/December Wages</td>
									<td>
										<button class="button is-primary">
											<span class="icon"><i class="fas fa-external-link-alt"></i></span>
										</button>
									</td>
								</tr>
								<tr>
									<th>Scott Solicitors</th>
									<td>Requested Proof of Income</td>
									<td>04/02/2021</td>
									<td>Hi, could you please provide Nov/Dec wages, thank you</td>
									<td>
										<button class="button is-primary">
											<span class="icon"><i class="fas fa-external-link-alt"></i></span>
										</button>
									</td>
								</tr>
								
							</tbody>
						</table>


						<% include /horizontalAds %>
							<% include /copyright %>
				</main>
		</div>

		<% include /jsonLd %>
</body>

</html>